<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420079497855-bf5jcve6ej31visegaibn6qh7k0h03qr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420079497855-bf5jcve6ej31visegaibn6qh7k0h03qr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>420079497855-u10gcttur504uconei9b163mn3pvnast.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASxEfjbsluA0wmAgzqpxVFoIAGbB-Mxc8</string>
	<key>GCM_SENDER_ID</key>
	<string>420079497855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.ios.airize</string>
	<key>PROJECT_ID</key>
	<string>airize-development</string>
	<key>STORAGE_BUCKET</key>
	<string>airize-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420079497855:ios:4eddfc15c954463b14454a</string>
	<key>DATABASE_URL</key>
	<string>https://airize-development-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>